<!DOCTYPE html>
<html>
    <head>
        <title> Login </title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Sign in</h1>
            </div>
            <div class="panel panel=danger">
                <div class="panel-heading">
                    <h3 class="panel-title">In order to chat, you must be signed in</h3>
                </div>
                <div class="panel-body">
                    <form id="signbox" name="signbox" method="post" action="/auth/direct/local">
                        <input id="user" name="user" type="text" maxlength=16 />
                        <input id="btn" type="button" value="进入" onclick="preSubmit()" />
                    </form>
                </div>
            </div>
        </div>
        <script>
            function preSubmit() {
                if (document.getElementById("user").value == "") {
                    alert("请输入用户名！");
                } else {
                    document.getElementById("signbox").submit();
                }
            }
        </script>
    </body>
</html>
